<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello {{ name }}, looks like a password reset request was made.</p>
  <p>If this was you, click the link bellow to reset your password</p>
  <a href="{{ link }}">Reset my password</a>
</div>
